.attr-cache
.cabal-sandbox
*.hi
*.o
cabal.project.local
cabal.sandbox.config
ctags
dist-newstyle/
dist/
ghcid-output.txt
profile/
result
result-*
tags
TAGS
static.out
/devnet/
/.env
/credentials/
/db/
/tmp/
/config/backend/api-key
/keystore/
/node-logs/
/bank.addr
/cardano-node-db/
/hydra-head-persistence/
/hydra-node-logs/
/hydra-pay-db/
/log/
/logs/
/proxy-keys/
/worker-thread.error.log
